Options -Indexes

RewriteEngine On

RewriteRule ^([a-zA-Z0-9]+)$ index.php?page=$1 [L]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?page=$1&action=$2 [L]
RewriteRule ^([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)$ index.php?page=$1&action=$2&param=$3 [NC,L]