/*************************
****    FORMULAIRES   ****
**************************/
input, input:focus, input:hover, input:active, input:-webkit-autofill, textarea:focus, button:focus, button {
    border: 0;
    outline: 0
}

button {
    background-color: #cc915f;
}

.form label:not(.radio) {
    text-align: right;
    font-weight: bold;
    line-height: 40px;
}

.form [type="radio"] {
    margin-right: 5px;
}

.form .radio + .radio {
    margin-left: 25px;
}

.form li {
    margin-top: .5em;
    clear: both;
    padding: 10px;
}

.form input, .form textarea {
    margin: 0;
    font-size: .8em;
    border: 0;
    border-radius: 5px;
    height: 40px;
    background: rgba(230, 230, 230, .3);
}

.form input[type=radio], .form [type=submit] {
    vertical-align: middle;
}

.form input + [type=submit] {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
    background-color: #a07e61;
}

.form [type=submit] {
    background-color: rgba(80, 60, 70, .4);
}

.form textarea {
    height: 80px;
    padding: 10px;
}

form#login input {
    border: 0;
    border-radius: 5px;
    padding: 4px;
    margin: 3px;
    width: 100%;
}