* {
    box-sizing: border-box;
}

/* Specials fonts
    font-family: 'Almendra', serif;
    font-family: 'UnifrakturMaguntia', cursive;
    font-family: 'Astloch', cursive;

   Colors
    light-grey : #636363
    borders: "666
*/

fieldset,ul,h4{
    margin:0;
    padding:0;
    list-style: none inside;
}

body{
    background: url(../img/wood-patter.light.png);
    font-size: 16px;
    font-family: 'Almendra', serif;
    margin:0;
    padding:0;
    width:100%
}

footer{
    background-image: url(../img/wood-pattern-dark.png);
    border-top:4px solid #444;
    clear: both;
}

a{
    text-decoration: none;
    color:#222;
}
a:hover {
    text-decoration: none;
    color: #d48425;
}

fieldset {
    background: url(../img/wood-pattern.png);
    border: 0;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px #333;
    padding: 15px;
    margin-bottom: 15px;
}

legend {
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

h1, h2, h3, legend {
    font-family: 'UnifrakturMaguntia', cursive;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3, legend {
    font-size: 1.5em;
}

h4 {
    font-family: 'Almendra', serif;
    margin-bottom: 8px;
}

/*************************
****    RESPONSIVE    ****
**************************/

@media (min-width: 768px) {
    section.container, header .container, footer .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    section.container, header .container, footer .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    section.container, header .container, footer .container {
        width: 1170px;
    }
}

@media (max-width: 992px) {
    .sm-full {
        width: 100% !important;
    }

    .sm-inline {
        width: 100% !important;
    }

    .sm-inline li {
        display: inline
    }
}

.container{
    margin: 0 auto;
    padding: 15px;
    overflow: hidden;
}
.row{
    margin:0 -15px;
    padding:0;
}
.container:after{
    content:" ";
    display: table;
}
.col-1:before,.col-1:after,.col-2:before,.col-2:after,.col-3:before,.col-3:after,.col-4:before,.col-4:after,.col-5:before,.col-5:after,.col-6:before,.col-6:after,.col-7:before,.col-7:after,.col-8:before,.col-8:after,.col-9:before,.col-9:after,.col-10:before,.col-10:after,.col-11:before,.col-11:after,.col-12:before,.col-12:after
{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;clear:both}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col-1.center{margin-left: 45.83333333%}
.col-1{width:8.33333333%;}

.col-2.center{margin-left: 41.66666667%}
.col-2{width:16.66666667%;}

.col-3.center{margin-left: 37.5%}
.col-3{width:25%;}

.col-4.center{margin-left: 33.33333333%}
.col-4{width:33.33333333%;}

.col-5.center{margin-left: 29.166666667%}
.col-5{width:41.66666667%;}

.col-6.center{margin-left: 25%}
.col-6{width:50%;}

.col-7.center{margin-left: 20.8333333%}
.col-7{width:58.33333333%;}

.col-8.center{margin-left: 16.66666667%}
.col-8{width:66.66666667%;}

.col-9.center{margin-left: 31.25%}
.col-9{width:75%;}

.col-10.center{margin-left: 8.33333333%}
.col-10{width:83.33333333%;}

.col-10.center{margin-left: 8.33333333%}
.col-11{width:91.66666667%;}

.col-12{width:100%;}


/***********************
*******   TOOLS   ******
************************/
.alert {
    border-radius: 15px;
    padding: 0 6px;
    clear: both;
}

ul.alert, li.alert{
    padding:10px 20px;
    list-style-position: inside
}

.alert-info {
    background-color: rgba(168, 255, 165, 0.3);
    border: 1px solid green;
}

.alert-error {
    background-color: rgba(221, 170, 170, 0.3);;
    border: 1px solid red;
}

.center {
    margin: 0 auto;
    float: none
}

.title {
    font-weight: bold;
    text-decoration: underline
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.slider{margin:10px;}

.icon {
    background: url(../img/icons.png) no-repeat top left;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

.dollar {
    background-position: 0 0
}

.life {
    background-position: -20px 0
}

.damages {
    background-position: -40px 0
}

.clock {
    background-position: -60px 0
}

/*************************
****     BOUTONS      ****
**************************/
.btn-wood {
    color: #fff;
    font-size: 1.8em;
    text-shadow: -1px -1px 1px #000;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background: url(../img/btn-mid.png) repeat-x;
}

.btn-wood:hover {
    color: #ccc
}

.btn-wood:before {
    content: " ";
    float: left;
    position: relative;
    top: 0;
    left: -6px;
    background: url(../img/btn-left.png) no-repeat;

    display: block;
    height: 50px;
    width: 34px;
}

.btn-wood:after {
    content: " ";
    float: right;
    position: relative;
    right: -6px;
    top: 0;
    bottom: 40px;
    background: url(../img/btn-right.png) no-repeat;

    display: block;
    height: 50px;
    width: 34px;
}

.btn-wood-small {
    color: #fff;
    text-shadow: -1px -1px 1px #000;
    height: 25px;
    line-height: 27px;
    background: url(../img/btn-mid-small.png) repeat-x;
}

.btn-wood-small:before {
    content: " ";
    float: left;
    position: relative;
    top: 0;
    left: -4px;
    background: url(../img/btn-left-small.png) no-repeat;

    height: 25px;
    width: 17px;
}

.btn-wood-small:after {
    content: " ";
    float: right;
    position: relative;
    right: -4px;
    top: 0;
    bottom: 40px;
    background: url(../img/btn-right-small.png) no-repeat;

    height: 25px;
    width: 17px;
}

/*************************
****      HEADER      ****
**************************/

header {
    background-image: url(../img/wood-pattern-dark.png);
    border-bottom: 4px solid #444;
    color: #ccc;
    padding: 0;
}

header, header a {
    color: white
}

nav li {
    font-family: 'UnifrakturMaguntia', cursive;
    margin-right: 12px;
    display: inline-block;
}

nav li:last-child {
    margin-right: 0
}

.user-infos ul {
    text-align: right;
    list-style-type: none;
}

/*************************
****   page empire    ****
**************************/

.unit{
    margin: 20px 0px;
    height: 150px;
}
.unit img{
    width: 100%;
}
.unit input{
    width: 80px
}
.hide{display:none}

.unit li {
    display: inline;
    padding-right: 15px;
}

/* messages */
table tr.topic.unread {
    font-weight: bold
}

table tr th {border-bottom: 4px solid #444;}

table tr.message {
    background-color: #EFEFEF
}

table tr.message th {
    border-bottom: 1px solid #444;
}

/*************************
****   page combats   ****
**************************/

#unit-selection input.input-number{
    width: 40px;
    border:0;
    text-align: right;
}


#unit-selection td.unit-name {
    text-align:center;
    width:80%
}
#unit-selection td:last-child{text-align: right}

