* {
    box-sizing: border-box;
}

/* Specials fonts
    font-family: 'Almendra', serif;
    font-family: 'UnifrakturMaguntia', cursive;
    font-family: 'Astloch', cursive;

   Colors
    light-grey : #636363
    borders: "666
*/

fieldset, ul, h4 {
    margin: 0;
    padding: 0;
    list-style: none inside;
}

body {
    background: url(../img/wood-pattern-light.jpg);
    font-size: 16px;
    font-family: 'Almendra', serif;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    position: relative;
}

footer#footer {
    background-image: url(../img/wood-pattern-dark.jpg);
    clear: both;
    border-top: 4px solid #222;
    height: 150px;
}

#castel-bg {
    width: 250px;
    height: 334px;
    position: absolute;
    bottom: 0;
    background: url(../img/castel-bg.png) no-repeat bottom left;
}

a {
    text-decoration: none;
    color: #222;
}

a:hover {
    text-decoration: none;
    color: #d48425;
}

p { margin: 3px 0 5px; }

fieldset {
    background: url(../img/wood-pattern.jpg);
    border: 0;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px #333;
    padding: 15px;
    margin-bottom: 15px;
}

legend {
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

h1, h2, h3, legend {
    font-family: 'UnifrakturMaguntia', cursive;
}

h1 { font-size: 3em; }

h2 { font-size: 2em; }

h3, legend { font-size: 1.5em; }

h4 {
    font-family: 'Almendra', serif;
    margin-bottom: 8px;
}

/***********************
*******   TOOLS   ******
************************/
.alert {
    border-radius: 15px;
    padding: 0 6px;
    clear: both;
}

ul.alert, li.alert {
    padding: 10px 20px;
    list-style-position: inside
}

.alert-info {
    background-color: rgba(168, 255, 165, 0.3);
    border: 1px solid green;
}

.alert-error {
    background-color: rgba(221, 170, 170, 0.3);;
    border: 1px solid red;
}

.center {
    margin: 0 auto;
    float: none
}

.title {
    font-weight: bold;
    text-decoration: underline
}

.bold {
    font-weight: bold;
}

.hidden {
    display: none;
}

.slider { margin: 10px; }

.pull-right { float: right }

.loading {
    top: 50%;
    left: 50%;
    position: fixed;
    width: 60px;
    height: 60px;
}

/***********************
*******   ICONS   ******
************************/
.icon {
    background: url(../img/icons.png) no-repeat top left;
    background-size: cover;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

.dollar { background-position: 0 0 }

.life { background-position: -30px 0 }

.damages { background-position: -60px 0 }

.clock { background-position: -90px 0 }

.new-mail { background-position: -120px 0 }

.ui-icon { display: inline-block }

/*************************
****     BOUTONS      ****
**************************/
.btn-wood {
    color: #fff;
    font-size: 1.8em;
    text-shadow: -1px -1px 1px #000;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background: url(../img/btn-mid.png) repeat-x;
}

.btn-wood:hover {
    color: #ccc
}

.btn-wood:before {
    content: " ";
    float: left;
    position: relative;
    top: 0;
    left: -6px;
    background: url(../img/btn-left.png) no-repeat;
    display: block;
    height: 50px;
    width: 34px;
}

.btn-wood:after {
    content: " ";
    float: right;
    position: relative;
    right: -6px;
    top: 0;
    bottom: 40px;
    background: url(../img/btn-right.png) no-repeat;
    display: block;
    height: 50px;
    width: 34px;
}

.btn-wood-small {
    color: #fff;
    text-shadow: -1px -1px 1px #000;
    height: 25px;
    line-height: 27px;
    background: url(../img/btn-mid-small.png) repeat-x;
}

.btn-wood-small:before {
    content: " ";
    float: left;
    position: relative;
    top: 0;
    left: -4px;
    background: url(../img/btn-left-small.png) no-repeat;
    height: 25px;
    width: 17px;
}

.btn-wood-small:after {
    content: " ";
    float: right;
    position: relative;
    right: -4px;
    top: 0;
    bottom: 40px;
    background: url(../img/btn-right-small.png) no-repeat;
    height: 25px;
    width: 17px;
}

/*************************
****      HEADER      ****
**************************/

header {
    background-image: url(../img/wood-pattern-dark.jpg);
    border-bottom: 4px solid #222;
    color: #ccc;
    padding: 0;
}

header, header a {
    color: white
}

nav li {
    font-family: 'UnifrakturMaguntia', cursive;
    margin-right: 12px;
    display: inline-block;
}

nav li:last-child { margin-right: 0 }

.user-infos ul {
    text-align: right;
    list-style-type: none;
}

.user-infos span { font-size: 1.7em; }

/*************************
****   page empire    ****
**************************/

.unit {
    min-height: 145px;
    margin: 20px -15px;
    padding: 0;
}

.unit .unit-frame {
    background: url(../img/img-frame.png) no-repeat;
    position: absolute;
    border-radius: 5px;
    width: 145px;
    height: 145px;
}

.unit img {
    width: 145px;
    border-radius: 5px;
}

.unit input { width: 80px }

.hide { display: none }

.unit li {
    display: inline-block;
    margin: 0 5px 10px 0;
}

/* messages */
table tr.topic { cursor: pointer; }

table tr.topic.unread { font-weight: bold }

table tr.topic td { padding: 5px; }

table tr th { border-bottom: 4px solid #444; }

table tr.mail { background-color: #EFEFEF }

table tr.mail th { border-bottom: 1px solid #444; }

/* queue */
.building-queue li {
    cursor: move;
    color: black;
    font-family: inherit;
    text-shadow: none;
    font-size: 1.2em;
    display: block;
}

.building-queue li:hover {
    color: black;
}

/*************************
****   page accueil   ****
**************************/
#functions > li { font-weight: bold; margin-bottom: 20px; }

#functions > li ul { padding-left: 15px; font-weight: normal; }

/*************************
****   page combats   ****
**************************/

.unit-quantity {
    text-align: right;
    width: 8em;
}

.unit-quantity label { font-size: 1.2em; }

.unit-quantity input.input-number {
    width: 60px;
    border: 0;
    text-align: right;
    background-color: transparent;
    font-family: inherit;
    font-size: inherit;
}

.unit-name { text-align: center; }

.unit-name td:last-child { text-align: right }

